
html {
    --rs: 0.25rem;
    --CardSize: 10;
    --TopOffset: 0;
    --TotalCards: 10;
    --CardIndex: 1;

    --LeftOffset:0;

}

.card-element{
    border: black calc(0.6vw * var(--Size)) solid;
    display: block;
    border-radius: calc(1vw * var(--Size));
    border-bottom-width:calc( 2vw* var(--Size)) ;
    width: fit-content;
    height:calc( 20vw* var(--Size));
    margin-top: calc( 13vw* var(--Size));

    margin-right: 1vw;
    background-color: #fff;
    position: relative;

}
.card-element * {
    background-color:  rgb(173,85,81);


}
.card-element * .element-container{
    display: inline-grid;
    background-color: #6A2A1B;
    margin: calc(0.2vw * var(--Size)) calc(0.3vw * var(--Size));
    height:calc( 20vw* var(--Size));


}
.card-element * img{
    background-color: #5c6166;
    border-color: var(--color);
    border-style: solid;
    border-width: 0 calc(0.2vw * var(--Size)) 0 calc(0.2vw * var(--Size));
    object-fit: cover;
    width:calc( 13vw* var(--Size));
    margin: 0 calc(0.2vw * var(--Size));
    height:calc( 8vw* var(--Size));

}
.card-element * .title-cont{
    border-width: 0.2vw;
    border-style: solid;
    border-top-left-radius: 1vw 5vw;
    border-bottom-left-radius: 1vw 5vw;

    border-top-right-radius: 1vw 5vw;
    border-bottom-right-radius: 1vw 5vw;
    border-color: var(--color);


}
.card-element * h1{

    font-size: calc( 1.3vw* var(--Size));
    padding: 0 calc(1vw * var(--Size)) 0 calc(1vw * var(--Size));
    margin: 0 auto 0 auto;

 }
.card-element * p{
    font-size: calc( 1vw* var(--Size));
    border-color: var(--color);
    border-style: solid;
    border-width: 0 0.2vw 0 0.2vw;
    margin: 0 0.2vw;
    padding: 0.1vw;
    display: block;
    height:calc( 8.5vw* var(--Size));
}

