<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cards Without Common Sense</title>

    <link rel="stylesheet" href="~/StyleSheets/StyleSheet.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press+Start+2P">
    <script defer src="~/js/gdpr.js"></script>
</head>
<body>
    <div class="top-url-indicator">
        <img class="top-url-indicator__icon" src="~/Assets/icon.png">
        <div class="top-url-indicator__url">CardsWithoutCommonSense</div>

        <div class="top-url-indicator__window-icons">
            <div class="top-url-indicator__window-icon"> X </div>
            <div class="top-url-indicator__window-icon" style=" margin-right: 0.2vw"> [] </div>
            <div class="top-url-indicator__window-icon"> _ </div>
        </div>
    </div>
    <nav class="top-navigation-menu">

        <div class="top-navigation-menu__option"> Matches</div>
        <div class="top-navigation-menu__option"> Stats</div>

        <div class="top-navigation-menu__option"> jeffery</div> <!-- replace with name or login depending on logged in -->

    </nav>


    <main role="main" class="MainBody">
        @RenderBody()
    </main>


    <section class="gdpr-consent hide">
        <div class="gdpr-consent__window-title">
           
            <div class="top-url-indicator__url">Accept cookies ?</div>

            <div class="top-url-indicator__window-icons">
                <div class="top-url-indicator__window-icon"> X </div>
            </div>
        </div>

        <div class="gdpr-consent__description">
            <img class="gdpr-consent__description__icon" src="~/Assets/error.png">
            <p class="gdpr-consent__description__message">
                We use cookies to personalize your experience
                do you accept ?
            </p>
        </div>

        <div class="gdpr-consent__choice">
            <div class="gdpr-content-button">
                <button class="gdpr-consent__button--accept">Ja, natuurlijk</button>
            </div>
            <div class="gdpr-content-button">
                <button class="gdpr-consent__button--reject">Neu, misschien later</button>
            </div>
        </div>


    </section>



    <footer class="footer">
        <div class="footer-column">Column one</div>
        <div class="footer-column">Column two</div>
        <div class="footer-column">Column three</div>
    </footer>
</body>
</html>