<link rel="stylesheet" href="~/StyleSheets/contactpageStyle.css">
<script src="~/js/contactPage.js" defer></script>


<div class="page">
    <section class="contact">

        <h1>Contact</h1>

        <form action="" method="post" class="form-contactpagina">

            <div class="form-contactpagina__inputelement fx-col">
                <label for="title">Title: </label>
                <div class="textinput-box">
                    <textarea class="textinput-box__textarea" name="title" id="title" maxlength="100" required></textarea>
                    <div class="textinput-iconcount">0/100</div>
                </div>
            </div>

            <div class="form-contactpagina__inputelement fx-col">
                <label for="email">Email: </label>
                <input class="form-contactpagina__Email-input" type="email" name="email" id="email" required>
            </div>

            <div class="form-contactpagina__inputelement fx-col">
                <label for="message">Message: </label>
                <div class="textinput-box">
                    <textarea style="height: 20vw;" class="textinput-box__textarea" name="message" id="message" maxlength="600" required></textarea>
                    <div class="textinput-iconcount">0/600</div>
                </div>
            </div>







            <div class="form-contactpagina__inputelement">
                <input type="submit" value="send">
            </div>



            /*student uitwerking*/


        </form>


    </section>
</div>