@using Setup.Controllers
@model DataContext 
@{

        ViewData["Title"] = "Home Page";
  
}
<link rel="stylesheet" href="~/StyleSheets/IndexStyle.css>
<div class="index-content" style="max-width:2000px;margin-top:46px">

    <!-- Automatic Slideshow Images -->
    <div class="mySlides index-display-container index-center">
       
        <div class="TextBox" style="
    position: absolute;
    background: rgba(255,255,255,0.8);
">
            <h3>Cards without common sense</h3>
            <p><b>the best card game no one knows the rules of</b></p>
        </div> 
        <img src="/Assets/preview.png" style="width:100%">
    </div>
    


