

<script type="module" asp-append-version="true" src="~/js/Modules/PlayerAuthentication.js"></script>
<script defer type="module"  src="~/js/Matches.js"></script>
<link rel="stylesheet" href="~/StyleSheets/MatchesSheet.css">
<div class="matches-screen__border">
    <section class="matches-screen">
        <section class="matches-screen__new-match">
            <h1 class="new-match__title"> Create Game</h1>
            <section class="join-match visible" id="join-match">
                
                    <div class="new-match-group" data-toggle="buttons">
                        <label class="new-match-group__option active">
                            <input type="radio" name="options" id="public" checked> public
                        </label>
                        <label class="new-match-group__option">
                            <input type="radio" name="options" id="private"> private
                        </label>
                    </div>
                    <label for="roomId">Room Name</label><br>
                    <input type="text" id="roomId" name="roomId" value=""><br>
                    <label for="password">Password (Optional)</label><br>
                    <input type="password" id="password" name="password" value=""><br><br>
                    <input type="submit" value="Create" id="CreateNewButton">
             
            </section>

            <section class="join-match hidden" id="join-match-hidden">

                
                <label for="roomId">Room code</label><br>
                <input disabled type="text" id="room-code" name="room-code" value=""><br>
                <input type="button" id="copy" value="Copy Code+" />
                <input type="submit" value="Join Match" id="JoinMatch">

            </section>
        </section>


        <div class="matches-screen_divider"></div>
        <section class="matches-screen__join-match">
            <h1 class="new-match__title"> Join Game</h1>
            <section class="join-match">
                <label for="roomCode">Room Name</label><br>
                <input type="text" id="roomCode" name="roomId" value=""><br>
                <label for="passwordCode">Password (Optional)</label><br>
                <input type="password" id="passwordCode" name="passwordCode" value=""><br><br>
                <input type="submit" value="Create">
            </section>
            <section class="join-public-matches"></section>

        </section>
    </section>
</div>
   