<link rel="stylesheet" href="~/StyleSheets/MatchesSheet.css">

<section class="matches-screen">
    <section class ="matches-screen__new-match">
        <h1 class="new-match__title"> Create new game</h1>
        <div class="new-match-group" data-toggle="buttons">
            <label class="new-match-group__option active">
                <input type="radio" name="options" id="public" checked> public
            </label>
            <label class="new-match-group__option">
                <input type="radio" name="options" id="private"> private
            </label>
        </div>
        <input class="new-match__input">
        <input class="new-match__input">
    </section>
    <div class="matches-screen_divider"></div>
    <section class ="matches-screen__join-match"></section>
</section>
