@{
    ViewData["Title"] = "Home Page";
}


<link rel="stylesheet" href="~/StyleSheets/ProfilePageSheet.css">
<div class="page">
    <section class="personalia">

        <img class="person-logo" src="~/../Assets/ProfilePicture.png">
        <h1 class="person-name">Jessica Hohenheim</h1>

    </section>

    <section class="profile">

        <section class="profile-content">

            <div class="profile-content__category--hidden-mobile">
                <h3 class="profile-content__category-title">Profiel</h3>
                <hr>
            </div>

            <div class="profile-content__element--hidden-mobile">
                <div class="profile-content__element-header">
                </div>
                <p class="profile-content__description">
                   I have a facenation with programming and thus have done many project at school and in my free time. 
                   one of these projects youre probably fermilier. because youre looking at it
                <p>
            </div>


            <div class="profile-content__category">
                <h3 class="profile-content__category-title">Opleidingen</h3>
                <hr>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">retail</h4>
                    <p class="profile-content__period">march 2020 - now ._.</p>
                </div>
                <p class="profile-content__institute">Groserystore , Plus</p>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">Onderzoeker</h4>
                    <p class="profile-content__period">jan 2020 - feb 2021</p>
                </div>
                <p class="profile-content__institute">University of biodiveresty and micro biology, Utrecht</p>
            </div>


            <div class="profile-content__category">
                <h3 class="profile-content__category-title">Skills</h3>
                <hr>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">C# .net</h4>

                </div>
                <p class="profile-content__period">nov 2021 - mei 2022</p>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">Html/JavaScipt/Css</h4>

                </div>
                <p class="profile-content__period">jan 2020 - feb 2021</p>
            </div>
        </section>

    </section>
</div>







