/*mobile version*/

.page {
    display: flex;
    flex-direction: column;
    font-family: Arial;
}

.contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-contactpagina__inputelement{
    display: flex;
    flex-direction: row;
    margin: 15px 0px 15px 0px
}

.fx-col{
    flex-direction: column;
}



        .textinput-box__textarea {
            border-style: hidden;
            background-color: #eee;
            padding: 0;
            float: left;
            overflow: auto;
            outline: none;
            height: available;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            resize: none;
        }

        .textinput-box {
            display: flex;
            border: solid rebeccapurple;
            width: 25vw;
            resize: both;
        }

        .textinput-iconcount {
            background-color: #eee;
            float: left;
            align-self: flex-end;
            text-align: right;
            padding-top: 15px;
        }



@media only screen and (min-width: 800px) {

}
