html,body{
    width: 100%;
    height: 100%;
    margin: 0; /* Space from this element (entire page) and others*/
    padding: 0; /*space from content and border*/

    border-width: 5px;
    overflow:hidden;
    display:block;
    box-sizing: border-box;


    background: #018001;
    font-family: "Press Start 2P", sans-serif;
    border-style: solid;

    border-left-color: white;
    border-bottom-color:white ;

    border-right-image:  #808080 ;
    border-top-color:  #808080 ;



    font-size: 2vh;
}

.vl {
    border-left: 3px solid black;
    height: 4vh;
    float: left;


}

.top-url-indicator{
    float: left;
    width: 100%;
    height: 5vh;
    background: rgb(0,0,125);
    background: linear-gradient(90deg, rgba(0,0,125,1) 56%, rgba(29,128,193,1) 100%);

    border-style: solid;
    border-color:rgb(0,0,125);
}
.top-url-indicator__icon{
    display: flex;
    height: 4vh;
    float: left;
    margin-left: 1vh;
    margin-right:1vh ;


}

.top-url-indicator__url{
    color: white;
    padding: 1vh 1vh 1vh 1vh !important;
    width : 50vw;
    float: left;

}

.top-url-indicator__window-icons{
    float:right;
    width: 30vw;
}

.top-url-indicator__window-icon{
    margin:  1vh 0 1vh 0;
    padding: 1%;
    float:right;
    font-size: 2vh;
    border-style: solid;
    background: #c0c0c0   ;
    border-right-color: #3f3f3f;
    border-bottom-color:#3f3f3f ;

    border-left-color: white ;
    border-top-color: white ;
}

.top-url-indicator__window-icon:active {
    border-style: solid;
    border-right-color: white;
    border-bottom-color:white ;

    border-left-color: #3f3f3f;
    border-top-color:  #3f3f3f ;
}

.top-navigation-menu{
    width: 100%;
    top:0;
    padding: 0;
    margin:0;
    float: left;

    background: #c0c0c0   ;
}



.top-navigation-menu__option::first-letter {
    border-bottom-color: #000000;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}
.top-navigation-menu__option{
    padding: 1vh 1vh 1vh 1vh !important;
    white-space: normal;
    background: #c0c0c0;
    float: left;
    width: auto;
    border-style: solid;
    border-color: #c0c0c0 ;
    display: block;
    outline: 0;
    font-size: 2vh;


    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;

}
.top-navigation-menu__option:hover{
    border-style: solid;
    border-left-color: #808080;
    border-bottom-color:#808080 ;

    border-right-color: white ;
    border-top-color: white ;
}

.top-navigation-menu__option:active {
    border-style: solid;
    border-left-color: white;
    border-bottom-color:white ;

    border-right-color:  #808080 ;
    border-top-color:  #808080 ;
}

.footer{
    bottom: 0;
    position: absolute;
    width: 100%;
    background: #ffffff;
    color: #000;
}

.footer-column{
    float: left;
    width: 33.33%;
}
.footer-column:after {
    content: "";
    display: table;
    clear: both;
}