html, body {
    margin: 0; /* Space from this element (entire page) and others*/
    padding: 0; /*space from content and border*/

    border-width: 5px;
    display: block;
    box-sizing: border-box;
    background: #018001;
    font-family: "Press Start 2P", sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
    font-size: 2vh;
}

html {
    height: 100%;
    overflow-y: auto;
}

body {
    min-height: 100%;
    border-style: solid;
    border-left-color: white;
    border-bottom-color: white;
    border-right-color: #808080;
    border-top-color: #808080;
}

.hidden{
    display:none;
}

.vl {
    border-left: 3px solid black;
    height: 4vh;
    float: left;
}

.top-url-indicator {
    float: left;
    width: 100%;
    height: 5vh;
    background: rgb(0,0,125);
    background: linear-gradient(90deg, rgba(0,0,125,1) 56%, rgba(29,128,193,1) 100%);
    border-style: solid;
    border-color: rgb(0,0,125);
}

.top-url-indicator__icon {
    display: flex;
    height: 4vh;
    float: left;
    margin-left: 1vh;
    margin-right: 1vh;
}

.top-url-indicator__url {
    color: white;
    padding: 1vh 1vh 1vh 1vh !important;
    width: 50vw;
    float: left;
}

.top-url-indicator__window-icons {
    float: right;
    width: 30vw;
}

.top-url-indicator__window-icon, button {
    margin: 1vh 0 1vh 0;
    padding: 1%;
    float: right;
    font-size: 2vh;
    border-style: solid;
    background: #c0c0c0;
    border-right-color: #3f3f3f;
    border-bottom-color: #3f3f3f;
    border-left-color: white;
    border-top-color: white;
}

    .top-url-indicator__window-icon:active, button:active{
        border-style: solid;
        border-right-color: white;
        border-bottom-color: white;
        border-left-color: #3f3f3f;
        border-top-color: #3f3f3f;
    }

.top-navigation-menu {
    width: 100%;
    top: 0;
    padding: 0;
    margin: 0;
    float: left;
    background: #c0c0c0;
}



.top-navigation-menu__option::first-letter {
    border-bottom-color: #000000;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.top-navigation-menu__option {
    text-decoration: none;
    color: black;

    padding: 1vh 1vh 1vh 1vh !important;
    white-space: normal;
    background: #c0c0c0;
    float: left;
    width: auto;
    border-style: solid;
    border-color: #c0c0c0;
    display: block;
    outline: 0;
    font-size: 2vh;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

    .top-navigation-menu__option:hover {
        border-style: solid;
        border-left-color: #808080;
        border-bottom-color: #808080;
        border-right-color: white;
        border-top-color: white;
    }

    .top-navigation-menu__option:active {
        border-style: solid;
        border-left-color: white;
        border-bottom-color: white;
        border-right-color: #808080;
        border-top-color: #808080;
    }

.footer {
   


    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;

 
    width: 100%;
    background: #ffffff;
    color: #000;
}

.footer-column {
    float: left;
    width: 33.33%;
}

    .footer-column:after {
        content: "";
        display: table;
        clear: both;
    }



/* for the cookie indecater*/

.gdpr-consent {
    border-style: solid;
    border-left-color: white;
    border-bottom-color: white;
    border-right-color: #808080;
    border-top-color: #808080;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    float: none;
    width: 300px;
    padding: 6px;
    padding-left: 2px;
    background: #c0c0c0;
}

    .gdpr-consent .top-url-indicator__icon {
    }

    .gdpr-consent .top-url-indicator__url {
        width: 238px
    }

    .gdpr-consent .top-url-indicator__window-icons {
        width: 0;
        margin-right: 5px;
    }
.gdpr-consent__description__icon {
    float: left;
    margin: 10px 10px 10px 0;
}

.gdpr-consent__description__message {
    float: left;
    width: 200px;
}


.gdpr-consent__window-title {
    float: left;
    width: 100%;
    height: 5vh;
    background: rgb(0,0,125);
    background: linear-gradient(90deg, rgba(0,0,125,1) 56%, rgba(29,128,193,1) 100%);
    border-style: solid;
    border-color: rgb(0,0,125);
}

.gdpr-consent__description {
    margin-top: 50px;
}

.gdpr-content-button {
    margin: 0 44px 0 10px;
   
}

.hide {
    display: none;
}

.show {
    display: block;
}


table {
    border: 1px solid #2EA425;
    background-color: #EEEEEE;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

    table td, table.blueTable th {
        border: 4px solid #AAAAAA;
        padding: 3px 5px;
    }

    table tbody td {
        font-size: 13px;
    }

    table tr:nth-child(even) {
        background: #D0E4F5;
    }

    table thead {
        background: #1F7505;
        background: -moz-linear-gradient(top, #579743 0%, #35821e 66%, #1F7505 100%);
        background: -webkit-linear-gradient(top, #579743 0%, #35821e 66%, #1F7505 100%);
        background: linear-gradient(to bottom, #579743 0%, #35821e 66%, #1F7505 100%);
        border-bottom: 2px solid #444444;
    }

        table thead th {
            font-size: 15px;
            font-weight: bold;
            color: #FFFFFF;
            text-align: center;
            border-left: 2px solid #144114;
        }

            table thead th:first-child {
                border-left: none;
            }

    table tfoot {
        font-size: 14px;
        font-weight: bold;
        color: #FFFFFF;
        background: #84A6F5;
        background: -moz-linear-gradient(top, #a3bcf7 0%, #90aff6 66%, #84A6F5 100%);
        background: -webkit-linear-gradient(top, #a3bcf7 0%, #90aff6 66%, #84A6F5 100%);
        background: linear-gradient(to bottom, #a3bcf7 0%, #90aff6 66%, #84A6F5 100%);
        border-top: 2px solid #444444;
    }

        table tfoot td {
            font-size: 14px;
        }

        table tfoot .links {
            text-align: right;
        }

            table tfoot .links a {
                display: inline-block;
                background: #1C6EA4;
                color: #FFFFFF;
                padding: 2px 8px;
                border-radius: 5px;
            }

.TextBox {
    position: fixed;
    background: rgba(255,255,255,0.8);
}
